/* =================== Google Fonts ====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* ========== Main colors HSL(hue, saturation, lightness) ========== */
    /* Blue - hsl(217, 85%, 74%); */
    /* Purple - hsl(245, 54%, 74%); */
    /* Teal - hsl(181, 47%, 49%); */
    /* Yellow - hsl(65, 60%, 70%); */
    /* Green - hsl(162, 60%, 65%); */
    /* Red - hsl(356, 67%, 70%); */
    /* Pink - hsl(330, 73%, 72%); */
 
    --hue: 217;
    --sat: 85%;
    --light: 74%;
 
    --primary-color: hsl(var(--hue) var(--sat) var(--light)); /* primary */
    --white-color: hsl(var(--hue) 45% 98%); /* white */
    --dark-color: hsl(var(--hue) 26% 12%); /* dark */
 
    /* ======= Changeable colors for dark/light themes ======= */
    --color-01: hsl(var(--hue) var(--sat) var(--light)); /* primary to dark */
    --color-02: hsl(var(--hue) 45% 98%); /* white to dark */
    --color-03: hsl(var(--hue) 26% 12%); /* dark to white */
    --color-04: hsl(var(--hue) 0% 62%); /* light-graygray to dark-gray */
    --color-05: hsl(var(--hue) 26% 12%); /* dark to primary */
 
    --body-color: hsl(250 26% 12%); /* dark to white */
    --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));
 
    /* ======= Background colors ======= */
    --bottom-nav-bg: hsl(var(--hue) 32% 25% / .65);
    --card-bg: linear-gradient(120deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .05));
    --modal-backdrop-bg: hsl(var(--hue) 54% 74% / .1);
    --footer-bg: linear-gradient(360deg, hsl(var(--hue) 54% 74% / .15), hsl(var(--hue) 54% 74% / .1));
 
    --scrollbar-color: hsl(var(--hue) 25% 20%);
    --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
    --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));
 
    /* ======= Font and typography ======= */
    --body-font-family: "Inter", serif;
    
    /* ======= Font sizes ======= */
    --h1-font-size: 3.8rem;
    --h2-font-size: 2.25rem;  
    --h3-font-size: 1.97rem;
    --h4-font-size: 1.43rem;
    --h5-font-size: 1.23rem;
 
    --xlarge-font-size: 1.48rem;
    --large-font-size: 1.23rem;
    --medium-font-size: 1.18rem;
    --base-font-size: 1.1rem;
    --small-font-size: 1.07rem;
    --tiny-font-size: .98rem;
    
    /* ======= Font weights ======= */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
 
    /* ======= Layering order(z-index) ======= */
    --z-minus: -1;
    --z-base: 0;
    --z-low: 1;
    --z-high: 10;
    --z-content: 100;
    --z-tooltip: 1000;
    --z-fixed: 1100;
    --z-overlay: 1110;
    --z-modal: 1990;
    --z-alert: 9000;
    --z-max: 9999;
}


/* =========================================
   Base Styles
========================================= */
html{
   scroll-behavior: smooth;
 }
 body{
   color: white;
   background: var(--color-05);
   transition: .3s;
}

.topo {
   height: 10vmin;
   width: 29vmax;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: -5vmin;
}
.btnTopo {
   height: 10vmin;
   width: 7vmax;
   display: flex;
   justify-content: end;
   align-items: center;
   color: var(--color-02);
}
a:hover {
   color: var(--hover-color);
}
/* ========== Dark/Light theme buttons ========== */
.theme-btn{
   position: relative;
   display: flex;
   justify-content: end;
   align-items: center;
   cursor: pointer;
}
.theme-btn i{
   position: absolute;
   color: var(--color-01);
   font-size: 1.7rem;
   cursor: pointer;
   transition: .3s;
}
.theme-btn:hover i{
   color: var(--hover-color);
   transform: rotate(-15deg);
}
.theme-btn.active-sun-icon .moon-icon,
.theme-btn .sun-icon{
   opacity: 1;
   transition: .3s;
}
.theme-btn.active-sun-icon .sun-icon,
.theme-btn .moon-icon{
   opacity: 0;
   transition: .3s;
}

/* ======= Light theme ======= */
.light-theme{
   /* ======= Changeable colors for dark/light themes ======= */
   --color-01: hsl(var(--hue) 26% 12%); /* primary to dark */
   --color-02: hsl(var(--hue) 26% 12%); /* white to dark */
   --color-03: hsl(var(--hue) 45% 98%); /* dark to white */
   --color-04: hsl(var(--hue) 9% 46%); /* light-graygray to dark-gray */
   --color-05: hsl(var(--hue) var(--sat) var(--light)); /* dark to primary */
 
   --body-color: hsl(var(--hue) 45% 98%); /* dark to white */
 
 
   /* ======= Background colors ======= */
   --bottom-nav-bg: hsl(var(--hue) 32% 85% / .8);
   --card-bg: hsl(0 0% 100%);
   --modal-backdrop-bg: hsl(var(--hue) 50% 12% / .5);
   --footer-bg: linear-gradient(360deg, hsl(var(--hue) var(--sat) var(--light)), hsl(var(--hue) var(--sat) var(--light) / .75));
 
   --scrollbar-color: hsl(var(--hue) 9% 60%);
   --scrollbar-thumb: hsl(var(--hue) 9% 25%);
   --scrollbar-thumb-hover: hsl(var(--hue) 9% 17%);
}

/* Botão voltar */
a {
   position: relative;
   display: flex;
   justify-content: end;
   align-items: center;
   cursor: pointer;
   color: var(--color-01);
   font-size: 1.7rem;
   margin: 3vmin;
   text-decoration: none;
}

.conteiner {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row-reverse;
}
.infoJogo {
   height: 80vmin;
   width: 25vmax;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}
.info-sub {
   height: 20vmin;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
#gradeCartas {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
}
.linhaCartas12, .linhaCartas24, .linhaCartas40 {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   perspective: 1000px;
   transition: 0.5s;
}
.linhaCartas12 {
   width: 70vmax;
   height: 31.4vmin;
}
.linhaCartas24 {
   width: 70vmax;
   height: 23.5vmin;
}
.linhaCartas40 {
   width: 70vmax;
   height: 18.8vmin;
}
.frente {
   position: absolute;
   backface-visibility: hidden;
   transform: rotateY(180deg);
}
.verso {
   position: absolute;
   backface-visibility: hidden;
}
.carta12, .virado12, .carta24, .virado24, .carta40, .virado40 {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   position: relative;
   border: white;
   border-style: solid;
   border-radius: 1vmin;
   background-color: var(--color-01);
   cursor: pointer;
   color: white;
   font-size: 10vmin;
   transform-style: preserve-3d;
   transition: transform .5s;
}
.carta12, .virado12 {
   margin: 1.7vmin;
   height: 28vmin;
   width: 21vmin;
   .frente {
      height: 16vmin;
      width: 16vmin;
   }
}
.virado12 {
   transform: rotateY(180deg);
}
.carta24, .virado24 {
   margin: 1.25vmin;
   height: 21vmin;
   width: 15.75vmin;
   .frente {
      height: 12vmin;
      width: 12vmin;
   }
}
.virado24 {
   transform: rotateY(180deg);
}
.carta40, .virado40 {
   margin: 1vmin;
   height: 16.8vmin;
   width: 12.6vmin;
   .frente {
      height: 9.6vmin;
      width: 9.6vmin;
   }
}
.virado40 {
   transform: rotateY(180deg);
}
.selecao {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   color: white;
}
#opcoes {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   position: absolute;
   width: 6vmax;
   background-color: var(--color-01);
   border: solid;
   border-radius: 5px;
   border-color: white;
   border-width: 3px;
   margin-top: 1px;
   margin-left: 0.5vmax;
   h3 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 5.9vmax;
      margin-top: 0.1vmin;
      margin-bottom: 0.1vmin;
      cursor: pointer;
   }
}
#dificuldade {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 6vmax;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 0.5vmax;
   background-color: var(--color-01);
   border: solid;
   border-radius: 5px;
   border-color: white;
   border-width: 3px;
   color: white;
   cursor: pointer;
}
.virado2 i {
   transform-style: preserve-3d;
   transition: transform .5s;
   transform: rotateX(180deg);
}
.ri-arrow-down-s-line {
   transition: transform .5s;
}
#reiniciar {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   width: 130px;
   border: solid;
   background-color: var(--color-01);
   border-radius: 5px;
   border-color: white;
   border-width: 3px;
   padding: 10px;
   cursor: pointer;
}
.carta12:hover, .carta24:hover, .carta40:hover {
  background-color: var(--hover-color);
}
.reiniciar:hover {
  background-color: var(--hover-color);
}
.vitoria {
   position: absolute;
   font-size: 8vmax;
   color: greenyellow;
}
.invisivel {
   visibility: hidden;
}
.borrado {
   filter: blur(3px);
   transition: 1s;
}
@media (orientation: portrait) {
   .conteiner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
   }
   .hud {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
   }
   .topo {
      height: 14vmax;
      width: 95vmin;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -5vmin;
   }
   .vazia {
      width: 21vmin;
   }
   .btnTopo {
      height: 10vmin;
      width: 21vmin;
      display: flex;
      justify-content: end;
      align-items: center;
   }
   .infoJogo {
      height: 30vmax;
      width: 90vmin;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: -5vmax;
   }
   h1{
      font-size: 6vmin;
      margin-top: 0px;
      margin-bottom: 0px;
   }
   h3 {
      font-size: 1em;
      margin-top: 0px;
      margin-bottom: 0px;
   } 
   select {
      font-size: 4vmin;
      width: 20vmin !important;
   }
   .info-sub {
      width: 90vmin;
      font-size: 4vmin;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
   }
   #gradeCartas {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      margin-top: -20vmax;
   }
   .linhaCartas12, .linhaCartas24, .linhaCartas40 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      height: 70vmax;
   }
   .linhaCartas12 {
      width: 33vmin;
   }
   .linhaCartas24 {
      width: 25vmin;
   }
   .linhaCartas40 {
      width: 20vmin;
   }
   .carta12, .virado12, .carta24, .virado24, .carta40, .virado40 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      position: relative;
      border-radius: 0.5vmin;
   }
   .carta12, .virado12 {
      margin: 1.3vmin;
      height: 25.3vmin;
      width: 25.3vmin;
   }
   .carta24, .virado24 {
      margin: 1vmin;
      height: 19vmin;
      width: 19vmin;
   }
   .carta40, .virado40 {
      margin: 1vmin;
      height: 15.2vmin;
      width: 15.2vmin;
   }
   #dificuldade {
      width: 17vmin;
      border-radius: 5px;
      border-width: 3px;
      margin: 1vmax;
      margin-right: 0px;
   }
   #opcoes {
      flex-direction: row;
      width: 51vmin;
      margin-top: 0px;
      margin-left: -17vmin;
      h3 {
         width: 17vmin;
         margin-left: 0.1vmin;
         margin-right: 0.1vmin;
      }
   }
   #reiniciar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 30vmin;
      font-size: 6vmin;
      border-radius: 5px;
      border-width: 3px;
      padding: 10px;
      margin-top: 73vmax;
   }
   .vitoria {
      font-size: 15vmin;
   }
}
